version: 2.1
jobs:
  build:
    machine:
      image: ubuntu-2004:202104-01
    steps:
      - checkout
      - restore_cache:
          key: jard
      - run:
          name: Build project and run tests
          command: mvn clean jacoco:prepare-agent install
      - run:
          name: Analyze main source files
          command: mvn sonar:sonar
      - run:
          name: Analyze test source files
          command: mvn sonar:sonar -Panalyze-test-classes
      - run:
          name: Build docker image
          command: mvn spring-boot:build-image -DskipTests
      - run:
          name: Deploy to docker hub
          command: bash docker_push.sh
      - run:
          name: Remove jard files from cache
          command: rm -rf ~/.m2/repository/com/github/njuro
      - save_cache:
          key: jard
          paths:
            - ~/.m2

workflows:
  default:
    jobs:
      - build:
          context: jard
          filters:
            branches:
              only: master