<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-us">
  <head th:fragment="head(title)" th:assert="${!#strings.isEmpty(title)}">
    <title th:text="${title}"></title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"
            integrity="sha256-97Q90i72uoJfYtVnO2lQcLjbjBySZjLHx50DYhCBuJo=" crossorigin="anonymous"></script>
    <script th:src="@{/js/jboard.js}"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css"
          integrity="sha256-5+W3JHnvGYIJkVxUBsw+jBi9+pOlu9enPX3vZapXj5M=" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/jboard.css}" media="all"/>

  </head>
  <body>
    <nav th:fragment="navigation">
      <div class="ui menu">
          <a th:href="@{/}" class="header item">JBoard</a>
        <!--/*@thymesVar id="board" type="com.github.njuro.models.Board"*/-->
            <a class="item" th:each="board: ${@boardService.getAllBoards()}" th:object="${board}"
               th:href="@{'/' + *{label}}" th:text="|/*{label}/ - *{name}|" th:title="*{name}">/label/ - Board</a>
      </div>
    </nav>
    <footer th:fragment="footer">
      <!-- footer text here !-->
    </footer>
  </body>
</html>