<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head th:include="~{fragments/base :: head(Forms)}"></head>
  <body>
    <nav th:include="~{fragments/base :: navigation}"></nav>
    <main>
      <!-- CREATE NEW THREAD FORM -->

      <!--/*@thymesVar id="threadForm" type="com.github.njuro.models.dto.ThreadForm"*/-->
      <form class="ui form" th:object="${threadForm}" th:fragment="thread-form(board)" id="thread-form" method="post"
            th:action="@{/board/{board}/submit(board=${board})}" enctype="multipart/form-data">
        <h4 class="ui dividing header">Create new thread</h4>
        <div class="two fields">
          <div class="field">
            <label>Name</label>
              <input type="text" name="post.name" placeholder="Name">
          </div>
          <div class="field">
            <label>Tripcode</label>
              <input type="text" name="post.tripcode" placeholder="Tripcode">
          </div>
        </div>
        <div class="field">
          <label>Subject</label>
          <input type="text" name="subject" placeholder="Subject">
        </div>
        <div class="field">
          <label>Comment</label>
            <textarea name="post.body" rows="8"></textarea>
        </div>
        <div class="field">
          <label>Upload image</label>
          <input name="post.attachment" type="file" accept="image/*"/>
        </div>
        <button class="ui right floated button" tabindex="0" type="submit">Create thread</button>
      </form>

      <!-- REPLY TO THREAD FORM -->
        <!--/*@thymesVar id="postForm" type="com.github.njuro.models.PostForm"*/-->
        <form class="ui form" th:object="${postForm}" th:fragment="reply-form(board)" id="reply-form" method="post"
              th:data-board="@{/board/{board}/(board=${board})}" th:action="@{/}" enctype="multipart/form-data">
        <h4 class="ui dividing header">Reply new thread</h4>
        <div class="two fields">
          <div class="field">
            <label>Name</label>
            <input type="text" name="name" placeholder="Name">
          </div>
          <div class="field">
            <label>Tripcode</label>
            <input type="text" name="tripcode" placeholder="Tripcode">
          </div>
        </div>
        <div class="field">
          <label>Comment</label>
          <textarea name="body" rows="8"></textarea>
        </div>
          <div class="field">
            <label>Upload image</label>
            <input name="attachment" type="file" accept="image/*"/>
          </div>
        <button class="ui right floated button" tabindex="0" type="submit">Submit post</button>
      </form>


    </main>
    <footer th:include="~{fragments/base :: footer}"></footer>
  </body>
</html>