<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head th:include="~{fragments/base :: head(${title})}"></head>
  <body>
    <nav th:include="~{fragments/base :: navigation}"></nav>
    <main>
      <div class="ui modal" id="reply-form-modal">
        <div class="content" th:insert="~{fragments/forms :: reply-form(${thread.getBoard().getLabel()})}">
        </div>
      </div>
      <div class="ui divided items" id="thread" th:fragment="thread(thread)">
        <!--/*@thymesVar id="thread" type="com.github.njuro.models.Thread"*/-->
        <!--/*@thymesVar id="post" type="com.github.njuro.models.Post"*/-->
        <div th:each="post, iter: ${thread.getPosts()}" class="item" th:id="${iter.first}? 'original-post' : 'post'"
             th:object="${post}" th:inline="text">
          <div class="content">
            <div class="meta">
              <span class="name" th:text="*{name}"></span>
              <span class="subject" th:if="${iter.first}" th:text="${thread.subject}"></span>
              <span class="date" th:if="${iter.first}" th:text="${thread.dateTime}"></span>
              <span class="post-number" th:text="'No. ' + ${post.postNumber}"></span>
              <button class="circular mini ui basic icon button reply-form-btn"
                      th:data-thread-id="${thread.originalPost.postNumber}">
                <i class="reply icon"></i>
              </button>
            </div>
            <div class="description" th:text="*{body}"></div>
          </div>
        </div>


      </div>
    </main>
    <footer th:include="~{fragments/base :: footer}"></footer>
  </body>
</html>