* {
  max-width: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

header, main {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#thread-form-modal, #reply-form-modal {
  padding-bottom: 10px;
}

#post {
  margin-left: 20px;
}

.subject {
}

.name {
  font-weight: bold;
}
