* {
  max-width: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

header, main {
    margin: 10px 10px 20px;
}

#thread-form-modal, #reply-form-modal {
    padding-bottom: 10px;
}

.post {
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px !important;
    padding-right: 40px !important;
}

.original-post {
    display: flex;
    flex-wrap: wrap;
}

.thread {
    margin-bottom: 50px !important;
}

.subject {
}

.name {
  font-weight: bold;
}

.meta {
    margin-top: 0px !important;
}

img.fullsize {
    width: 100% !important;
    height: 100% !important;
}

a.crosslink {
    text-decoration: underline;
    text-decoration-style: dashed;
    color: red;
}

a.deadlink {
    text-decoration: line-through;
    cursor: pointer;
}

span.greentext {
    color: green;
}

span.spoiler {
    background-color: black;
    color: black;
}

span.spoiler:hover {
    color: white;
}

div.code {
    background-color: lightgray;
    padding: 10px;
    font-family: monospace;
}