<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <title>Add new user</title>
</head>
<body>
<main layout:fragment="content">
    <!--/*@thymesVar id="registerForm" type="com.github.njuro.jboard.models.dto.RegisterForm"*/-->
    <div class="ui grid">
        <form class="ui six wide column centered form" th:object="${registerForm}" th:action="@{/auth/register}"
              method="post"
              id="registration-form">
            <div class="ui segment">
                <h4 class="ui dividing header">Create new user</h4>
                <div class="field">
                    <label>Username</label>
                    <input th:field="*{username}" placeholder="Username" type="text"/>
                </div>
                <div class="field">
                    <label>Password</label>
                    <input th:field="*{password}" placeholder="Password" type="password"/>
                </div>
                <div class="field">
                    <label>Repeat password</label>
                    <input th:field="*{passwordRepeated}" placeholder="Repeat Password" type="password"/>
                </div>
                <div class="field">
                    <label>E-mail</label>
                    <input th:field="*{email}" placeholder="E-mail" type="email"/>
                </div>
                <div class="ui error message" th:styleappend="${#fields.hasAnyErrors()}? 'display: block;'">
                    <ul class="list" th:if="${#fields.hasAnyErrors()}">
                        <li th:each="err : ${#fields.allErrors()}" th:text="${err}">Error</li>
                    </ul>
                </div>
                <button class="fluid ui submit button" tabindex="0" type="submit">Create user</button>
            </div>
        </form>
    </div>
</main>
</body>
</html>