<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body layout:fragment="reply-form(label)" th:remove="tag">
<script th:if="${#fields.hasErrors('${postForm.*}')}" th:inline="javascript">
    // Show reply form because of invalid submission
    $(document).ready(function () {
        showReplyForm(/*[[${threadNo}]]*/);
    });
</script>
<div class="ui modal" id="reply-form-modal">
    <div class="content">
        <!--/*@thymesVar id="postForm" type="com.github.njuro.jboard.models.PostForm"*/-->
        <form class="ui form" th:object="${postForm}" id="reply-form" method="post"
              th:data-board="@{/board/{board}/(board=${label})}" th:action="@{/}" enctype="multipart/form-data">
            <h4 class="ui dividing header">Reply to thread</h4>
            <div class="two fields">
                <div class="field">
                    <label>Name</label>
                    <input type="text" th:field="*{name}" placeholder="Name">
                </div>
                <div class="field">
                    <label>Tripcode password</label>
                    <input type="text" th:field="*{password}" placeholder="Password">
                </div>
            </div>
            <div class="field">
                <label>Comment</label>
                <textarea th:field="*{body}" rows="8"></textarea>
            </div>
            <div class="field">
                <label>Upload image</label>
                <input th:field="*{attachment}" type="file" accept="image/*"/>
            </div>
            <div class="ui error message" th:styleappend="${#fields.hasAnyErrors()}? 'display: block;'">
                <ul class="list" th:if="${#fields.hasAnyErrors()}">
                    <li th:each="err : ${#fields.allErrors()}" th:text="${err}">Error</li>
                </ul>
            </div>
            <button class="ui right floated submit button" tabindex="0" type="submit">Submit post</button>
        </form>
    </div>
</div>
</body>
</html>
