<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body layout:fragment="reply-form(label)" th:remove="tag">
<!--/*@thymesVar id="postForm" type="com.github.njuro.models.PostForm"*/-->
<form class="ui form" th:object="${postForm}" id="reply-form" method="post"
      th:data-board="@{/board/{board}/(board=${label})}" th:action="@{/}" enctype="multipart/form-data">
    <h4 class="ui dividing header">Reply new thread</h4>
    <div class="two fields">
        <div class="field">
            <label>Name</label>
            <input type="text" name="name" placeholder="Name">
        </div>
        <div class="field">
            <label>Tripcode</label>
            <input type="text" name="tripcode" placeholder="Tripcode">
        </div>
    </div>
    <div class="field">
        <label>Comment</label>
        <textarea name="body" rows="8"></textarea>
    </div>
    <div class="field">
        <label>Upload image</label>
        <input name="attachment" type="file" accept="image/*"/>
    </div>
    <button class="ui right floated button" tabindex="0" type="submit">Submit post</button>
</form>
</body>
</html>
