<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body layout:fragment="thread-form(label)" th:remove="tag">
<script th:if="${#fields.hasErrors('${threadForm.*}')}" th:inline="javascript">
    // Show thread form because of invalid submission
    $(document).ready(function () {
        showThreadForm();
    });
</script>
<div class="ui modal" id="thread-form-modal">
    <div class="content">
        <!--/*@thymesVar id="threadForm" type="com.github.njuro.models.dto.ThreadForm"*/-->
        <form class="ui form" th:object="${threadForm}" id="thread-form" method="post"
              th:action="@{/board/{board}/submit(board=${label})}" enctype="multipart/form-data">
            <h4 class="ui dividing header">Create new thread</h4>
            <div class="two fields">
                <div class="field">
                    <label>Name</label>
                    <input data-validate="name" type="text" th:field="*{post.name}" placeholder="Name">
                </div>
                <div class="field">
                    <label>Tripcode password</label>
                    <input data-validate="password" type="text" th:field="*{post.password}" placeholder="Password">
                </div>
            </div>
            <div class="field">
                <label>Subject</label>
                <input data-validate="subject" type="text" th:field="*{subject}" placeholder="Subject">
            </div>
            <div class="field">
                <label>Comment</label>
                <textarea data-validate="body" th:field="*{post.body}" rows="8"></textarea>
            </div>
            <div class="field">
                <label>Upload image</label>
                <input data-validate="attachment" th:field="*{post.attachment}" type="file" accept="image/*" required/>
            </div>
            <div class="ui error message" th:styleappend="${#fields.hasAnyErrors()}? 'display: block;'">
                <ul class="list" th:if="${#fields.hasAnyErrors()}">
                    <li th:each="err : ${#fields.allErrors()}" th:text="${err}">Error</li>
                    <li th:each="err : ${#fields.errors('global')}" th:text="${err}">Global error</li>
                </ul>
            </div>
            <button class="ui right floated submit button" tabindex="0" type="submit">Create thread</button>
        </form>
    </div>
</div>
</body>
</html>
